<h1>Thanks for your RSVP!</h1>
<p><a href="/events/<%= @event[:id] %>" class="btn btn-primary">Back to Race Info</a></p>

<img src="https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Running/580/meme-13.gif">
